* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: sans-serif;
    animation: gantiwarna 6s infinite;
}

.indonesia {
    opacity: 0.7;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    z-index: 100;
}

.indonesia h3 {
    -webkit-text-stroke: 2px black;
    font-size: 3em;
}

.indonesia h4 {
    font-size: 1.5em;
}

.container {
    position: absolute;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url('g29747.png');
    background-position: center;
    background-size: contain;
    opacity: 0.5;
    background-repeat: no-repeat;
}

.circle {
    background-color: rgb(248, 151, 151);
    width: 14px;
    height: 14px;
    margin: 8px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    transition: transform 0.3s linear;
}

.circle.grow {
    transform: scale(2);
    filter: blur(3px);
    background-color: rgb(236, 236, 236);
    opacity: 0.8;
}

@keyframes gantiwarna {
    0% {
        background-color: rgba(22, 22, 22, 0.8);
    }
    50% {
        background-color: rgba(194, 0, 0, 0.8);
    }
    75% {
        background-color: rgba(134, 31, 31, 0.8);
    }
}